%fieldset
  = form.label :title
  = form.text_field :title

%fieldset
  = form.label :published_on
  = form.text_field :published_on

%fieldset
  = form.label :volume
  = form.text_field :volume

%fieldset
  = form.label :page_start, "Starting Page"
  = form.text_field :page_start

%fieldset
  = form.label :page_end, "Ending Page"
  = form.text_field :page_end
